.admin__container {
  padding: 40px;
  width: 500px;
  margin: 100px auto;
  text-align: center;
}

.admin__field {
  margin-bottom: 20px;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  display: block;
  margin-bottom: 5px;
}

.admin__button {
  background-color: var(--color-4);
  width: 20rem;
  height: 8rem;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  border-radius: 20px;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  padding: 3rem;


  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 2rem; /* Para centralizar o texto verticalmente */
  border: none;
}

.admin__button:hover {
    background-color: var(--color-5);
}
