:root {
  --font-text: "Roboto", sans-serif;
  --font-title: "Roboto Slab", serif;
  --color-1: #076873;
  --color-2: #5b9ea6;
  --color-3: #b8d5d9;
  --color-4: #bf0606;
  --color-5: #8c0404;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Roboto Slab", serif;
  text-rendering: optimizeLegibility;
  background: url("../../assets/fatec_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cabecalho {
  display: flex;
  background-color: #bf0606;
  font-size: 24px;
  font-weight: 800;
  color: white;
  height: 130px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

#fatec {
  margin-right: 30px;
}

.insercao__container {
  background-color: #076873;
  padding: 40px;
  width: 500px;
  min-height: 550px;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.insercao__container h1 {
  color: white;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 50px;
}

.upload-form {
  margin-top: 20px;
}

input[type="file"] {
  display: none;
}

.drop-area {
  background-color: #5b9ea6;
  color: white;
  font-weight: 800;
  width: 280px;
  height: 313px;
  border-radius: 15px;
  padding: 15px;
  margin: 20px auto;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.drop-area:hover {
  background-color: #4a8b92;
  border: 3px dashed white;
}

button {
  background-color: #8c0404;
  width: 220px;
  height: 55px;
  font-size: 24px;
  font-weight: 800;
  color: white;
  border-radius: 20px;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a30505;
}

.header {
  display: flex;
  background-color: var(--color-4);
  font-family: var(--font-title);
  font-size: 32px;
  font-weight: 800;
  color: white;
  height: 130px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.header__link {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  transition: all 0.3s ease;
}
.header__link:hover {
  /* Efeito de aumento da fonte e geração de sombra */
  transition: 500ms;
  font-size: 35px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.header__link--logo {
  margin-right: 15px;
}
.header__link--logo:hover {
  margin-right: 8px; /* Correção da margem direita para elemento não ser empurrado ao aumentar o tamanho */
}
.header__link--siga:hover {
  margin-left: 11px; /* Correção das margens laterais para elemento não ser empurrado nem empurrar elemento contígui ao aumentar o tamanho */
  margin-right: -3px;
}
