
body {
  background: url('/assets/fatec_02.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

.cabecalho {
  display: flex;
  background-color: #BF0606;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  height: 130px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

#fatec {
  margin-right: 30px;
}

.cursos__container {
  background-color: #076873;
  padding: 40px;
  width: 728px;
  height: 661px;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.text_cursos {
  font-family: "Roboto Slab", serif;
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.curso_card {
  background-color: #8C0404;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 618px;
  height: 135px;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: justify;
  cursor: pointer;
}

.curso_card:hover {
  background: #BF0606;
}


.curso_card > span {
  font-family: "Roboto Slab", serif;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.curso_card > img {
  background-color: #B8D5D9;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.container_rodape {
  background-color: #BF0606;
  width: 100%;
  height: 80px;
  color: white;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  font-weight: bold;
  padding: 25px;
}

