body {
  background: url('../../assets/fatec_02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto Slab", serif;
}

.cabecalho {
  display: flex;
  background-color: #bf0606;
  font-size: 24px;
  font-weight: 800;
  color: white;
  height: 130px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

#fatec {
  margin-right: 30px;
}

#siga{
  margin-right: 30px;
}

.horario__container {
  background-color: #076873;
  padding: 40px;
  width: 900px;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

.selects {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.select_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.select_group label {
  color: white;
  font-weight: bold; /* opcional, só pra dar mais destaque */
}

select {
  background-color: #bf0606;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

option {
  background-color: white;
  color: black;
}

table.tabela_horario {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  background-color: white;
}

table.tabela_horario th,
table.tabela_horario td {
  border: 1px solid #ccc;
  padding: 10px;
}

table.tabela_horario th {
  background-color: #ccc;
  color: #000;
}

.docentes {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.docentes h3 {
  color: #076873;
  margin-bottom: 10px;
}

.docentes ul {
  list-style: none;
  padding: 0;
}

.docentes li {
  margin-bottom: 5px;
  color: #000;
}

.exportar_btn {
  background-color: #bf0606;
  color: white;
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  transition: backgroun-color 0.3 ease
}

.exportar_btn:hover{
  background-color: #6a0303;
}
