.carousel-container {
  position: relative;
  width: 966px;
  margin: 40px auto; /* dá espaçamento em cima */
}

.carousel-slide-wrapper {
  overflow: hidden;
  width: 966px;
  height: 347px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.carousel-slide {
  display: flex;
  width: calc(966px * 3); /* ou número de imagens */
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 966px;
  height: 347px;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.carousel-btn.voltar {
  left: 10px;
}

.carousel-btn.avancar {
  right: 10px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 279px;
    min-width: 375px;
    margin: 73px  30px 80px 30px;
    transition: all 300ms ease;
}
.menu__button:hover {
    transition: 500ms;
    cursor: pointer;
    height: 293px;
    min-width: 385px;
    margin: 66px 25px 45px 25px;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.600);
}

.menu__button > img {
    height: 130px;
    width: 130px;
    transition: all 0.3s ease; /* Transição aplicada no estado base */
}
.menu__button:hover > img {
    height: 140px;
    width: 140px;
}

.menu__button > p {
    color: white;
    font-size: 32px;
    margin-top: 15px;
    transition: all 0.3s ease;
}
.menu__button:hover > p {
    font-size: 34px;
}

@media (max-width: 768px) {
  .carousel-container {display: none;}

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu__button {
    min-width: 90%;
    height: 220px;
    margin: 30px 0;
  }

  .menu__button > img {
    height: 100px;
    width: 100px;
  }

  .menu__button > p {
    font-size: 24px;
  }
}