.horario__container {
  padding: 40px;
  width: 900px;
  margin: 50px auto;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

.horario__selects {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.horario__select-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horario__select {
  background-color: var(--color-4);
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: var(--font-primary);
  font-weight: bold;
  color: white;
  text-align: center;
  transition: all 0.3s ease;
}
.horario__select:hover {
  background-color: var(--color-5);
}

option {
  background-color: white;
  color: black;
}

.horario__tabela {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  background-color: white;
}

.horario__tabela th,
.horario__tabela td {
  border: 1px solid #ccc;
  padding: 10px;
}

.horario__tabela th {
  background-color: #ccc;
  color: #000;
}

.horario__docentes {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.horario__docentes h3 {
  color: var(--color-1);
  margin-bottom: 10px;
}

.horario__docentes ul {
  list-style: none;
  padding: 0;
}

.horario__docentes li {
  margin-bottom: 5px;
  color: #000;
}

.horario__botao-exportar {
  background-color: var(--color-4);
  color: white;
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.horario__botao-exportar:hover {
  background-color: var(--color-5);
}

label {
  color: white;
}

.footer__container {
  background-color: var(--color-4);
  width: 100%;
  height: 80px;
  color: white;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: bold;
  padding: 25px;
}
