.login__container {
  padding: 40px;
  width: 500px;
  margin: 100px auto;
  text-align: center;
}

.login__form {
  margin-top: 100px;
}

.login__field {
  margin-bottom: 20px;
}

.login__label {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  display: block;
  margin-bottom: 5px;
}

.login__input {
  display: block;
  background-color: white;
  color: var(--color-1);
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  width: 265px;
  height: 60px;
  border-radius: 15px;
  padding: 15px;
  margin: 0 auto;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}

.login__input::placeholder {
    color: var(--color-1);
  }

.login__button {
  background-color: var(--color-4);
  width: 175px;
  height: 45px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  border-radius: 20px;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.login__button:hover {
    background-color: var(--color-5);
}
