.mapa__container {
    padding: 40px;
    width: 1100px;
    height: 700px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mapa__titulo {
    font-family: var(--font-primary);
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mapa__subtitulo {
    font-family: var(--font-primary);
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.mapa__imagem-container {
    background-color: #d9d9d9;
    margin-top: 20px;
    height: 460px;
    width: 1010px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.mapa__menu {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.mapa__menu-botao {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color-4);
    width: 136px;
    height: 33px;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.mapa__menu-botao:hover {
    background: var(--color-5);
}

.mapa__menu-opcoes {
    display: none; /* Utilizei para as opções ficarem escondidas */
    gap: 10px;
}

.mapa__menu-opcoes.show {
    display: flex;  /* Mostrar quando clicar  */
}

.mapa__menu-opcao {
    background-color: var(--color-3);
    border: none;
    color: var(--color-5);
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 100%;
    font-weight: bold;
    cursor: pointer;
}

.sala {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  border: 1px solid #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
}


.sala:hover{
  cursor: pointer;
    color: red;
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  line-height: 1.1;
}

button.desativada {
  pointer-events: none;        
  cursor: not-allowed;
}

.mapa-conteudo-escalonavel {
  position: relative;
  width: 1010px;
  height: 460px;
}


/*Terreo */
.piso-terreo
.escadas,
.escadas-emg1,
.escadas-emg2,
.escadas-emg-centro,
.apoio,
.direcao,
.sala-professores,
.coordenacoes-cursos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piso-terreo, .piso-primeiro-andar, .piso-segundo-andar {
    font-size: 40px;
}

.laboratorio-informatica101,
.laboratorio-informatica103,
.laboratorio-informatica105,
.laboratorio-informatica107,
.laboratorio-informatica108,
.laboratorio-informatica201,
.laboratorio-informatica203,
.laboratorio-informatica205,
.laboratorio-informatica207,
.laboratorio-informatica208,
.laboratorio-informatica209,
.sala-maker,
.sala-maker1,
.sala-de-aula102,
.sala-de-aula104,
.sala-de-aula106,
.sala-de-aula202,
.sala-de-aula204,
.sala-de-aula206,
.lab01,
.lab02,
.lab03,
.lab04 {
    font-weight: bold;
    font-size: 15px;
}

.copa {
  position: absolute;
  left: 147px;
  top: 11px;
  width: 123px;
  height: 180px;
}
.deposito {
  position: absolute;
  left: 16px;
  top: 11px;
  width: 126px;
  height: 183px;
}
.direcao {
  position: absolute;
  left: 155px;
  top: 280px;
  width: 56px;
  height: 164px;
}
.secretaria-adm {
  position: absolute;
  left: 275px;
  top: 11px;
  width: 160px;
  height: 180px;
}
.escadas-emg1 {
  position: absolute;
  left: 436px;
  top: 11px;
  width: 40px;
  height: 156px;
}
.escadas-emg2 {
  position: absolute;
  left: 820px;
  top: 11px;
  width: 40px;
  height: 156px;
}
.servidor {
  position: absolute;
  left: 16px;
  top: 206px;
  width: 74px;
  height: 70px;
}
.sala-professores {
  position: absolute;
  left: 22px;
  top: 285px;
  width: 67px;
  height: 158px;
}
.coordenacoes-cursos {
  position: absolute;
  left: 93px;
  top: 305px;
  width: 57px;
  height: 138px;
}
.piso-terreo {
  position: absolute;
  left: 478px;
  top: 11px;
  width: 140px;
  height: 432px;
}
.sanitarios-servidores {
  position: absolute;
  left: 215px;
  top: 261px;
  width: 120px;
  height: 182px;
}
.secretaria-acad {
  position: absolute;
  left: 340px;
  top: 261px;
  width: 135px;
  height: 182px;
}
.lab02 {
  position: absolute;
  left: 685px;
  top: 11px;
  width: 130px;
  height: 190px;
}
.lab04 {
  position: absolute;
  left: 865px;
  top: 11px;
  width: 130px;
  height: 190px;
}
.escadas {
  position: absolute;
  left: 620px;
  top: 280px;
  width: 55px;
  height: 163px;
}
.sanitarios {
  position: absolute;
  left: 620px;
  top: 11px;
  width: 60px;
  height: 190px;
}
.lab01 {
  position: absolute;
  left: 680px;
  top: 250px;
  width: 130px;
  height: 192px;
}
.lab03 {
  position: absolute;
  left:860px;
  top: 250px;
  width: 130px;
  height: 192px;
}

.apoio {
  position: absolute;
    left: 815px;
  top: 250px;  
  width: 40px;
  height: 192px;
}

/* Primeiro andar */

.piso-primeiro-andar {
  position: absolute;
  left: 478px;
  top: 11px;
  width: 140px;
  height: 436px;
}

.laboratorio-informatica101 {
  position: absolute;
  left: 11px;
  top: 265px;
  width: 113px;
  height: 183px;
}

.laboratorio-informatica103 {
  position: absolute;
  left: 128px;
  top: 265px;
  width: 113px;
  height: 183px;
}

.laboratorio-informatica105 {
  position: absolute;
  left: 244px;
  top: 265px;
  width: 113px;
  height: 183px;
}

.laboratorio-informatica107 {
  position: absolute;
  left: 360px;
  top: 265px;
  width: 113px;
  height: 183px;
}

.laboratorio-informatica108 {
  position: absolute;
  left: 685px;
  top: 11px;
  width: 130px;
  height: 190px;
}

.sala-de-aula102 {
  position: absolute;
  left: 16px;
  top: 11px;
  width: 113px;
  height: 183px;
}

.sala-de-aula104 {
  position: absolute;
  left: 133px;
  top: 11px;
  width: 113px;
  height: 183px;
}

.sala-de-aula106 {
  position: absolute;
  left: 249px;
  top: 11px;
  width: 120px;
  height: 183px;
}

.escadas-emg3 {
  position: absolute;
  left: 818px;
  top: 11px;
  width: 40px;
  height: 156px;
}

.escadas-emg4 {
  position: absolute;
  left: 372px;
  top: 11px;
  width: 50px;
  height: 156px;
}

.sala-maker {
  position: absolute;
  left: 862px;
  top: 11px;
  width: 137px;
  height: 195px;
}


.elevador {
  position: absolute;
  left: 425px;
  top: 125px;
  width: 50px;
  height: 35px;
  font-size: 10px;
}

.univesp-coordenacao {
  position: absolute;
  left: 425px;
  top: 11px;
  width: 50px;
  height: 112px;
}

.biblioteca {
  position: absolute;
  left: 678px;
  top: 345px;
  width: 200px;
  height: 100px;
}

.atendimento-biblioteca {
  position: absolute;
  left: 678px;
  top: 280px;
  width: 200px;
  height: 65px;
}

.acervo-biblioteca {
  position: absolute;
  left: 878px;
  top: 207px;
  width: 120px;
  height: 135px;
}

.sala-de-estudos1 {
  position: absolute;
  left: 878px;
  top: 327px;
  width: 120px;
  height: 60px;
}

.sala-de-estudos2 {
  position: absolute;
  left: 878px;
  top: 385px;
  width: 120px;
  height: 60px;
}

/* Segundo Andar */

.piso-segundo-andar {
  position: absolute;
  left: 478px;
  top: 11px;
  width: 140px;
  height: 436px;
}


.coordenacao-estagio {
  position: absolute;
  left: 425px;
  top: 11px;
  width: 50px;
  height: 112px;
}

.sala-de-aula202 {
  position: absolute;
  left: 16px;
  top: 11px;
  width: 113px;
  height: 183px;
}

.sala-de-aula204 {
  position: absolute;
  left: 133px;
  top: 11px;
  width: 113px;
  height: 183px;
}

.sala-de-aula206 {
  position: absolute;
  left: 249px;
  top: 11px;
  width: 120px;
  height: 183px;
}

.sala-maker1 {
  position: absolute;
  left: 862px;
  top: 11px;
  width: 137px;
  height: 195px;
}

.laboratorio-informatica201 {
  position: absolute;
  left: 11px;
  top: 264px;
  width: 153px;
  height: 183px;
}

.laboratorio-informatica203 {
  position: absolute;
  left: 167px;
  top: 265px;
  width: 153px;
  height: 183px;
}

.laboratorio-informatica205 {
  position: absolute;
  left: 322px;
  top: 265px;
  width: 153px;
  height: 183px;
}

.laboratorio-informatica208 {
  position: absolute;
  left: 685px;
  top: 11px;
  width: 130px;
  height: 190px;
}

.laboratorio-informatica207 {
  position: absolute;
  left: 680px;
  top: 250px;
  width: 157px;
  height: 192px;
}

.laboratorio-informatica209 {
  position: absolute;
  left:840px;
  top: 250px;
  width: 157px;
  height: 192px;
}

.status-sala {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    font-weight: bold;
    align-self: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-disponivel {
  background-color: green;
}

.status-nao-disponivel {
  background-color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80%; 
  transition: background-color 0.2s, color 0.2s;
}

.modal-close:hover {
      background-color: red;
      color: white;
      border-radius: 5px;
    }

@media (max-width: 768px) {

  body {
    min-height: 100vh;
  }

  .mapa__container {
    width: 95%;             
    height: auto;               
    min-height: 90vh;          
    margin: 2.5vh auto;       
    padding: 2vw;          
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
  }

  .mapa__titulo {
    font-size: 1.75rem; 
    
  }

  .mapa__subtitulo {
    font-size: 1rem; 
  }

  .mapa__menu {
    flex-direction: column;
    gap: 1.5vw; 
    margin-top: 2vh;
  }

  .mapa__menu-botao {
    display: flex;
    align-items: center;
    width: auto; 
    padding: 1.5vh 3vw; 
    max-width: 150px; 
  }

  
  .mapa__menu-opcoes {
    display: none; 
    gap: 2vw;
  }

  .mapa__menu-opcoes.show {
    display: flex;
  }

  .mapa__menu-opcao {
    margin: 1vw 0.5vw;
    padding: 1.5vw 2vw;
  }

  .mapa__imagem-container {
    background-color: #d9d9d9;
    width: 100%;            
    height: auto;              
    aspect-ratio: 16 / 9;     
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mapa-conteudo-escalonavel {
    transform: scale(0.677);
    transform-origin: center left;
  }

  
  .sala {
    font-size: 0.9rem; 
    border-radius: 5px; 
  }

  .elevador {
    font-size: 0.6rem; 
  }

  .piso-terreo, .piso-primeiro-andar, .piso-segundo-andar {
    font-size: 1.5rem; 
  }

  .status-sala {
    font-size: 1rem;
    padding: 0.5vh 1.5vw;
  }

  
  .modal-content {
    width: 90%;
    padding: 3vw;
  }

 
  .modal-close {
    font-size: 1.2rem;
    width: 20px;
    height: 20px;
  }

  .container-footer {
    font-size: 0.85rem; 
    text-align: center;
    padding: 2vh 2vw;
    height: auto;
  }
}

@media (max-width: 576px) {

  body {
    min-height: 100vh;
  }

  .mapa__container {
    width: 100%;             
    min-height: 100vh;         
    margin: 0;                 
    padding: 3vw;              
    border-radius: 0;          
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
  }

  .mapa__titulo {
    font-size: 1.5rem;
  }

  .mapa__subtitulo {
    font-size: 0.9rem; 
  }

  .mapa__menu {
    flex-direction: column;
    gap: 2vw;          
    margin-top: 1.5vh;
  }

  .mapa__menu-botao {
    display: flex;
    align-items: center;
    width: auto;
    padding: 1.2vh 3.5vw; 
    max-width: 150px;
    font-size: 0.9rem; 
  }
  

  .mapa__menu-opcoes {
    display: none; 
    gap: 2vw;
  }

  .mapa__menu-opcoes.show {
    display: flex;
  }

  .mapa__menu-opcao {
    margin: 1vw 0.5vw;
    padding: 1.2vw 2.5vw; 
    font-size: 0.85rem;
  }

  .mapa__imagem-container {
    background-color: #d9d9d9;
    width: 100%;
    height: 300px;
    aspect-ratio: 1 / 1; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mapa-conteudo-escalonavel {
    transform: scale(0.515); 
    transform-origin: center left; 
  }
  
  .sala {
    font-size: 0.8rem;
    border-radius: 4px;
  }

  .elevador {
    font-size: 0.5rem;
  }

  .piso-terreo, .piso-primeiro-andar, .piso-segundo-andar {
    font-size: 1.2rem;
  }

  .status-sala {
    font-size: 0.85rem;
    padding: 0.6vh 1.8vw;
  }
  
  .modal-content {
    width: 95%; 
    padding: 4vw;
  }
  
  .modal-close {
    font-size: 1.2rem;
    width: 25px; 
    height: 25px;
  }

  .container-footer {
    font-size: 0.75rem; 
    padding: 1.5vh 2vw;
    height: auto;
  }
}




